@model Uptime_Jalgpall.Models.Pair

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<p>
    testing: @ViewBag.teams
</p>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pair</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" name="Team1">
                Team 1: @Html.DropDownList("teams")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" name="Team2">
                Team 2: @Html.DropDownList("teams")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" name="Winner">
                Winner:  @Html.DropDownList("teams")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" name="Tournament">
                Tournament: @Html.DropDownList("tournaments")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
